.AddOnProducts-main {
    margin-left: 13.7rem;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    margin-block: 10rem;
    padding-bottom: 10rem;
    border-bottom: 1px solid lightgray;
}
.AddOnProducts-wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 7.4rem;
    justify-content: flex-start;
    align-items: center;
}
.plus-sign {
    margin-bottom: 5rem;
    font: normal normal 500 2.6rem/3rem Rubik-Medium;
}

.AddOnProducts-total-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}

.AddOnProducts-price {
    font: normal normal normal 3.1rem/2.7rem Rubik-Regular;
    color: #505050;
}

.AddOnProducts-total-price-text {
    font: normal normal normal 1.7rem/2.7rem Rubik-Regular;
    color: #1D1D1D;
    margin-top: 1.5rem;
}

.AddOnProducts-total-price button {
    width: 22.7rem;
    height: 6rem;
    background: #000000 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 0.2rem;

    font: normal normal 500 1.6rem/1.5rem Rubik-Medium;
    color: #FFFFFF;
}

.AddOnProducts-checklist {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.item,
.item-2,
.item-3 {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.AddOnProducts-checklist input[type="checkbox"] {
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    border-radius: 0.4rem;
}
.AddOnProducts-checklist label {
    font: normal normal normal 1.9rem/3rem Rubik-Regular;
    color: #505050;
}
/******************Media Queries*******************************/

@media(max-width:500px){
    .AddOnProducts-total-price{
        margin-block: 8rem ;
    }
    .AddOnProducts-price {
        font: normal normal normal 3.5rem/2.7rem Rubik-Regular; 
    }
    
    .AddOnProducts-total-price-text {
        font: normal normal normal 2.4rem/2.7rem Rubik-Regular; 
    }
    .AddOnProducts-total-price button { 
        font: normal normal 500 2.3rem/1.5rem Rubik-Medium; 
    }
    .AddOnProducts-checklist label {
        font: normal normal normal 2.2rem/3rem Rubik-Regular; 
    }
}