.category-main {
  background: #fdf9f8;
  padding-top: 14rem;
}

.category-container {
  width: fit-content;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "item-1 item-1 item-2 item-2 item-2"
    "item-3 item-3 item-2 item-2 item-2"
    "item-3 item-3 item-4 item-4 item-5"
    "item-3 item-3 item-6 item-7 item-5";
  row-gap: 2rem;
  column-gap: 2.5rem;
}

.category-container > * {
  /* outline: 1px solid blue;  */
  height: fit-content;
}

img {
  width: 100%;
}

.item-1 {
  grid-area: item-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-block: auto;
}

.category-title {
  font: normal normal normal 1.8rem Rubik-Regular;
}

.category-heading {
  width: 60%;
  font: normal normal bold 5.2rem Urbanist-Bold;
  margin-top: 1.8rem;
}

.category-desc {
  margin-top: 3rem;
  font: normal normal normal 2.6rem Rubik-Regular;
}

.item-2 {
  grid-area: item-2;
  border-top-right-radius: 16.1rem;
  position: relative;
}

.item-2-text {
  position: absolute;
  background-color: #ffffff;
  width: 13.1rem;
  height: 4.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 300 2.6rem Rubik-Light;
  color: #131313;
  bottom: 0;
}

.item-3 {
  grid-area: item-3;
  border-bottom-right-radius: 14.3rem;
  position: relative;
}

.item-3-text {
  position: absolute;
  background-color: #ffffff;
  width: 13.1rem;
  height: 4.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 300 2.6rem Rubik-Light;
  color: #131313;
  bottom: 0;
}

.item-4 {
  grid-area: item-4;
  border-top-left-radius: 9.2rem;
  position: relative;
}

.item-4 img {
  height: 40%;
  margin-top: 3.2rem;
}

.item-4-text {
  position: absolute;
  background-color: #ffffff;
  width: 13.1rem;
  height: 4.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal 300 2.6rem Rubik-Light;
  color: #131313;
  bottom: 0;
  right: 0;
}

.item-5 {
  grid-area: item-5;
  margin-top: 3.2rem;
}

.item-6 {
  grid-area: item-6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-block: auto;
  margin-bottom: 55%;
  position: relative;
  cursor: pointer;
}

.item-6-text {
  font: normal normal normal 2rem Rubik-Regular;
  color: #131313;
}
.hoverable-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid #e0b9ce;
  transition: transform 0.5s ease;
}
.hoverable-circle:hover {
  transform: scale(1.1);
}

.item-6-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 80%;
}

.readmore-btn-dash {
  width: 5rem;
  height: 0.2rem;
  background: black;
  transform: translateX(1.2rem);
  transition: width 0.5s ease;
  cursor: pointer;
}
.item-6:hover .readmore-btn-dash {
  width: 6rem;
}
.item-7 {
  grid-area: item-7;
  border-top-right-radius: 5.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  /* .item-1 {
    grid-area: item-1;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    margin-block: auto;
  } */
  .category-title {
    font: normal normal normal 1.5rem Rubik-Regular;
  }

  .category-heading {
    font: normal normal bold 2.5rem/2.8rem Urbanist-Bold;
  }

  .category-desc {
    margin-top: 10px;
    font: normal normal normal 2rem Rubik-Regular;
  }

  .item-4 img,
  .item-5 {
    margin-top: 1.5rem;
  }

  .category-container {
    gap: 1rem;
  }
  .hoverable-circle {
    width: 5.5rem;
    height: 4rem;
    border: 1.8px solid #e0b9ce;
    margin-right: 1rem;
  }
  .readmore-btn-dash {
    width: 2.5rem;
    height: 0.2rem;
    background: black;
    transform: translateX(1.2rem);
  }
}

@media (max-width: 365px) {
  .category-title {
    margin-top: 1rem;
    font: normal normal normal 1.5rem Rubik-Regular;
  }
  .category-heading {
    font: normal normal bold 2.5rem Urbanist-Bold;
  }

  .category-desc {
    margin-top: 5px;
    font: normal normal normal 2rem/2.3rem Rubik-Regular;
  }

  .item-4 img,
  .item-5 {
    margin-top: 1.5rem;
  }

  .category-container {
    gap: 1rem;
  }
}
@media (max-width: 365px) {
  .category-title {
    margin-top: 1rem;
    font: normal normal normal 1.5rem Rubik-Regular;
  }
  .category-heading {
    margin-top: 0.5rem;
    font: normal normal bold 2rem Urbanist-Bold;
  }

  .category-desc {
    margin-top: 5px;
    font: normal normal normal 1.8rem/2.3rem Rubik-Regular;
  }

  .item-4 img,
  .item-5 {
    margin-top: 1.5rem;
  }

  .category-container {
    gap: 1rem;
  }
}
