/* Rubik font family starts*/
 @font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"),
    url("../assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Medium";
  src: local("Rubik-Medium"),
    url("../assets/fonts/rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: local("Rubik-SemiBold"),
    url("../assets/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Bold";
  src: local("Rubik-Bold"),
    url("../assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik-Light";
  src: local("Rubik-Light"),
    url("../assets/fonts/rubik/Rubik-Light.ttf") format("truetype");
}

/* Urbanist font family starts*/

@font-face {
  font-family: "Urbanist-Regular";
  src: local("Urbanist-Regular"),
    url("../assets/fonts/urbanist/Urbanist-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Medium";
  src: local("Urbanist-Medium"),
    url("../assets/fonts/urbanist/Urbanist-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-SemiBold";
  src: local("Urbanist-SemiBold"),
    url("../assets/fonts/urbanist/Urbanist-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Bold";
  src: local("Urbanist-Bold"),
    url("../assets/fonts/urbanist/Urbanist-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Light";
  src: local("Urbanist-Light"),
    url("../assets/fonts/urbanist/Urbanist-Light.ttf") format("truetype");
}

