/* Raleway font family starts*/
/* @font-face {
  font-family: "Raleway-Regular";
  src: local("Raleway-Regular"),
    url("../assets/fonts/raleway/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Medium";
  src: local("Raleway-Medium"),
    url("../assets/fonts/raleway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: local("Raleway-SemiBold"),
    url("../assets/fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"),
    url("../assets/fonts/raleway/Raleway-Bold.ttf") format("truetype");
} */
/* Raleway font family ends */
