.RelatedProducts-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 13.7rem;
    margin-right: 13.9rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.RelatedProducts-heading{
    margin-bottom: 8.3rem;
    font: normal normal bold 5.2rem/6.9rem Urbanist-Bold;
    color: #131313;

}
.RelatedProducts-imagaes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.2rem;
    row-gap: 10.2rem;
}
@media(max-width:700px){
    .RelatedProducts-imagaes{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 10rem;
    }
    .RelatedProducts-main{
        margin-bottom: 15rem;
    }
}