.checkoutmodal-wrapper {
  display: flex;
  overflow: hidden;
}

.checkoutmodal-signin,
.checkoutmodal-register,
.checkoutmodal-guest {
  width: 54.7rem;
  height: 49.3rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.checkoutmodal-signin::before,
.checkoutmodal-guest::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(/src/assets/images/cartpage/checkoutVectorMask.svg);
  transform: scale(1.2);
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  right: -56%;
  top: -10%;
}

.checkoutmodal-signin::after,
.checkoutmodal-guest::after  {
  content: "";
  width: 100%;
  height: 100%;
  background: url(/src/assets/images/cartpage/checkoutVectorMask.svg);
  transform: scale(1.2) rotate(180deg);
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  right: 55%;
  object-fit: cover;
  bottom: -10%;
}

/**register mask****/
.checkoutmodal-register::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(/src/assets/images/cartpage/checkoutVectorMask.svg);
  transform: scale(1);
  position: absolute;
  background-repeat: no-repeat;
  right: -54.5%;
  top: -16.5%;
}
.checkoutmodal-register::after  {
  content: "";
  width: 100%;
  height: 100%;
  background: url(/src/assets/images/cartpage/checkoutVectorMask.svg);
  transform: scale(1.2) rotate(180deg);
  opacity: 0.6;
  position: absolute;
  background-repeat: no-repeat;
  right: 55%;
  object-fit: cover;
  bottom: 21%;
}

.checkoutmodal-image-div {
  display: flex;
  justify-content: center;
  width: fit-content;
  max-height: 16rem;
  height: fit-content;
}
.checkoutmodal-image-div > img {
  object-fit: contain;
  transform: translateY(3rem) scale(1.2);
}

.checkoutmodal-message {
  font: normal normal normal 2.8rem/3.4rem Urbanist-Regular;
  color: #202020;
  margin-top: 3rem;
}

.checkoutmodal-primary-button {
  outline: none;
  border: none;
  width: 32.3rem;
  height: 4.8rem;
  background: #1c1c1c 0% 0% no-repeat padding-box;
  border-radius: 1.2rem;

  font: normal normal normal 1.4rem/2rem Poppins-Medium;
  color: #ffffff;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3rem;
  z-index: 1;
}

.checkoutmodal-register {
  background: #fdf9f8;
}

/**************/
.checkoutModal-divider {
  display: flex;
}

.checkoutModal-left-div,
.checkoutModal-right-div {
  width: 16rem;
  margin-top: 1rem;
  border-top: 1px solid #dcdbdd;
}

.checkoutModal-or {
  font: normal normal Normal 1.4rem Poppins-Regular;
  margin-inline: 1rem;
  color: #84818a;
}

.checkoutModal-other-Options {
  display: flex;
  column-gap: 1.57rem;
  margin-top: 2.97rem;
}

.checkout-google-logo-conatiner,
.checkout-facebook-logo-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  width: 17.3rem;
  height: 5.2rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dcdbdd;
  border-radius: 1.2rem;
  cursor: pointer;
  z-index: 1;
}

.checkoutModal-vai-google,
.checkoutModal-vai-facebook {
  font: normal normal 500 1.4rem Poppins-Medium;
  color: #202020;
}
.checkoutModal-other-Options img {
  width: 1.7rem;
  height: 1.7rem;
}
/***************/
@media (max-width: 1240px) {
  .checkoutmodal-signin::after,
  .checkoutmodal-guest::after,
  .checkoutmodal-register::after {
    display: none;
  }
}

@media (max-width: 850px) {
  .checkoutmodal-wrapper {
    flex-direction: column;
  }
  .checkoutmodal-signin,
  .checkoutmodal-register,
  .checkoutmodal-guest {
    width: 54.7rem;
    height: 37rem;
  }
  .checkoutmodal-signin::before,
  .checkoutmodal-guest::before {
    transform: scale(1);
    right: -52%;
    top: -32%;
  }
  .checkoutmodal-register::before {
    top: -31%;
  }

  .checkoutmodal-message {
    margin-top: 2.6rem;
  }
  
  .checkoutmodal-image-div {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    width: 19rem;
    height: 13rem;
  }
  .checkoutmodal-image-div > img {
    object-fit: contain;
    transform: translateY(0.5rem) scale(1.67);
  }

  .checkoutmodal-primary-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .checkoutModal-other-Options {
    margin-top: 1.7rem;
  }
}

@media (max-width: 450px) {
  .checkoutmodal-primary-button {
    font-size: 2.1rem;
  }
  .checkoutmodal-signin::before,
  .checkoutmodal-guest::before,
  .checkoutmodal-register::before {
    display: none;
  }
}