.payment-main {
  margin-top: 7.7rem;
  margin-bottom: 28rem;
  margin-left: 2rem;
}
.payment-main button {
  cursor: pointer;
}
.payment-container {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  border: 1px solid black;
}

.show-checkout-status {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  gap: 5rem;
}

.status-border {
  width: 4.1rem;
  height: 0px;
  border: 1px solid #2c2b2b;
  margin-block: 7.7rem;
}

.payment-status-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: #000000;

  font: normal normal 500 1.6rem Poppins-Medium;
  color: #ffffff;
  margin-right: 1.6rem;
  margin-left: 1.6rem;
}
/* .pending-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    border: 0.5px dashed #707070;
} */

.status {
  font: normal normal normal 1.6rem Poppins-Regular;
  color: #000000;
}
.payment-status-div-1,
.payment-status-div-2,
.payment-status-div-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.pending-status {
  color: #cecece;
}
.payment-status-numbers-active,
.payment-status-numbers-pending {
  background-color: #cecece;
}
.payment-content {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  gap: 4rem;
  margin: 0 auto;
}

.payment-heading {
  align-self: center;
  font: normal normal bold 3rem/3rem Urbanist-Bold;
  color: #1d1d1d;
  margin-left: 17rem;
  margin-top: 5rem;
}

.payment-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  place-content: center;
  place-items: center;
  column-gap: 10rem;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.individual-methods {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4rem;
  margin-left: 3rem;
  width: 100%;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #707070;
  border-radius: 50%;
}

input[type="radio"]:hover {
  background-color: rgb(218, 218, 218);
}

input[type="radio"]:checked {
  background-color: black;
}

.method-icon {
  width: 6.8rem;
  height: 6.5rem;
  background: #ffffff;
  border: 1px solid #707070;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.method-icon img {
  width: 4rem;
  height: 4rem;
  object-fit: scale-down;
}

.payment-method-name {
  font: normal normal 500 2rem/2.6rem Rubik-Medium;
  color: #b9b9b9;
}
.payment-method-active-name {
  font: normal normal 500 2rem/2.6rem Rubik-Medium;
  color: #000000;
}
@media (max-width: 1300px) {
  .payment-main {
    margin-left: 5rem;
  }
}
@media (max-width: 600px) {
  .payment-heading {
    margin-inline: auto;
    margin-bottom: 4rem;
  }
  .payment-box {
    grid-template-columns: 1fr;
  }
  .payment-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: start;
    place-items: start;
    margin-bottom: 10rem;
  }
}

@media (max-width: 500px) {
  .payment-main {
    margin-inline: auto;
    margin-right: 2.5rem;
  }
  .payment-options {
    margin-left: 3rem;
    column-gap: 0.1rem;
  }
  .show-checkout-status {
    margin-left: 2rem;
  }
  .status-border {
    display: none;
  }
  .show-checkout-status {
    margin-inline: auto;
  }

  .status {
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
  .payment-heading {
    font-size: 4rem;
  }
  .payment-method-name,
  .payment-method-active-name {
    font-size: 2.9rem;
  }
  .payment-option-radio-btn {
    display: none;
  }
}
