.nav-container {
  width: 100%;
  max-width: 1920px;
  background-color: #fdf9f8;
}

.nav-upper {
  margin: 0 7.3vw;
  padding-top: 4.22rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-upper-logo {
  width: 22.9rem;
  height: 7rem;
  cursor: pointer;
}

.nav-upper-link-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.nav-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-searchbar > input {
  border: none;
  outline: none;
  height: 2.9rem;
  font: normal normal normal 1.6rem Rubik-Regular;
  color: #707070;
  background: none;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}
.nav-searchbar > input:focus {
  width: 24rem;
  border: 1px solid rgba(128, 128, 128, 0.37);
}
.nav-searchbar > input::placeholder {
  font: normal normal normal 1.6rem Rubik-Regular;
  color: #707070;
}
.nav-icon-buttons {
  display: flex;
  gap: 3.5rem;
}

.nav-icon-buttons > * {
  cursor: pointer;
}
.nav-search-icon-styling {
  pointer-events: none;
  width: 3.4rem;
}

/*********************************************************/

.nav-lower {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-lower input {
  display: none;
}
.nav-lower-menu-links {
  list-style: none;
  display: flex;
  gap: 8rem;
}

.nav-lower-menu-links > li {
  font: normal normal normal 1.7rem Rubik-Regular;
  color: #161616;
  margin: 2.95rem 0 2.95rem 0;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.menu-name-and-arrow {
  display: flex;
  align-items: center;
}

.dropDown-list {
  list-style: none;
  background-color: #f3e7e0;
  position: absolute;
  left: -10%;
  top: 140%;
  width: fit-content;
  min-width: 14rem;
  font: normal normal normal 1.7rem/4rem Rubik-Regular;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.dropDown-list > li {
  width: 100%;
  padding-inline: 1rem;
  transition: all 0.3s ease;
}
.dropDown-list > li:hover {
  background-color: #f5dacc;
  border-radius: 1rem;
}

.nav-lower-menu-links > li:hover .dropDown-list,
.nav-lower-menu-links > li:hover .mega-box {
  opacity: 1;
  visibility: visible;
  top: 100%;
  transition: all 0.3s ease;
}
/*****mega box****/
.mega-box {
  position: absolute;
  top: 140%;
  left: -28rem;
  background-color: #f3e7e0;
  width: fit-content;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.mega-box ul {
  list-style: none;
}

.mega-box-content {
  padding: 2.5rem 1rem;
  display: flex;
  /* gap: 4rem; */
}
.mega-box-row {
  min-width: 15rem;
}
.megabox-row-image {
  width: 81%;
}
.mega-box-row:nth-of-type(1) {
  padding-left: 2.2rem;
  cursor: default;
}
.mega-box-row:not(:nth-of-type(1)) {
  margin-right: 4rem;
}
.mega-box-row:nth-of-type(4) {
  margin-right: 0;
}
.mega-box-row > header {
  font-weight: 600;
  cursor: default;
  padding-left: 1rem;
}

.mega-box-row:not(:last-child) .mega-box-links {
  border-right: 1px solid rgb(179, 179, 179);
}

.mega-box-links {
  font: normal normal normal 1.7rem/4rem Rubik-Regular;
  padding-right: 1rem;
}
.mega-box-links > li {
  padding: 0 1rem;
  transition: all 0.3s ease;
}
.mega-box-links > li:hover {
  background-color: #f5dacc;
  border-radius: 1rem;
}

.mobile-menu-name-and-arrow {
  display: none;
}
.nav-btn {
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.nav-btn.nav-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: white;
}

.onMobileSearchBar-container {
  width: 100%;
  padding: 4.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.onMobileSearchBar-styling {
  outline: none;
  border: none;
  width: 75vw;
  height: 6rem;
  padding-left: 2rem;
  background-color: white;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 1.4rem;
  font: normal normal normal 2.7rem Rubik-Regular;
}
.onMobileSearchBar-styling:focus {
  border: 1px solid rgba(128, 128, 128, 0.411);
}
.onMobileSearchBar-styling::placeholder {
  font: normal normal normal 2.7rem Rubik-Regular;
  color: gray;
}
.onMobileSearchBar-close-icon {
  font-size: 4.5rem;
  color: black;
  cursor: pointer;
}

/***************Mobile Responsive***************************/

@media (max-width: 970px) {
  .nav-upper {
    margin: 0 3.3vw;
    border-bottom: none;
    justify-content: space-between;
  }
  .mobile-nav-hamburger-logo-div {
    display: flex;
    gap: 3rem;
  }
  .nav-upper-link-buttons {
    gap: 3.5rem;
  }
  .nav-searchbar > input {
    display: none;
  }
  .navbar-favorite-route-icon {
    display: none;
  }
  .nav-searchbar > img {
    width: 4.9rem;
  }
  .nav-icon-buttons > img {
    width: 4rem;
  }
  .nav-search-icon-styling {
    pointer-events: all;
    cursor: pointer;
  }

  /****************/
  .nav-btn {
    display: block;
    margin-top: 1.26rem;
  }

  .nav-lower {
    position: fixed;
    width: 100%;
    max-width: 30rem;
    height: 100vh;
    display: block;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(15px);
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  .show-nav {
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .nav-lower::-webkit-scrollbar {
    width: 0px;
  }
  .nav-lower-menu-links {
    display: block;
    padding-top: 4.2rem;
  }
  .menu-name-and-arrow {
    padding: 1.4rem 0.5rem;
    border-radius: 1rem;
  }
  .menu-name-and-arrow:hover {
    background-color: #f4d6e0;
    color: black;
    transition: all 0.3s ease;
  }

  .nav-lower-menu-links li {
    display: block;
    color: white;
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 0.7rem;
    margin: 0;
  }

  .dropDown-list {
    display: block;
    width: 100%;
    padding: 0 0 0 2rem;
    position: static;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  #showDropdown1:checked ~ .dropDown-list,
  #showDropdown2:checked ~ .dropDown-list,
  #showDropdown3:checked ~ .dropDown-list,
  #showDropdown4:checked ~ .dropDown-list,
  #showMobileMega:checked ~ .mega-100box {
    max-height: 999px;
    transition: max-height 0.5s ease-in;
  }

  .dropDown-list li:hover {
    background-color: #f5e6dfea;
    color: black;
    transition: background 0.5s ease;
  }

  .menu-name-and-arrow {
    display: none;
  }
  .mobile-menu-name-and-arrow {
    padding: 1.4rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .mobile-menu-name-and-arrow:hover {
    background-color: #f5dacc;
    color: black;
    transition: background 0.4s ease;
  }

  /*****mega box mobile view style****/
  .mega-box {
    position: static;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  #showMobileMega:checked ~ .mega-box {
    max-height: 999px;
    transition: max-height 0.5s ease-in;
  }

  .mega-box-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
  }
  .mega-box-row {
    min-width: 100%;
    padding: 0 0 2rem 0;
  }
  .megabox-row-image {
    width: 81%;
  }
  .mega-box-row:nth-of-type(1) {
    display: none;
  }
  .mega-box-row:not(:nth-of-type(1)) {
    margin-right: 0;
  }
  .mega-box-row:nth-of-type(4) {
    margin-right: 0;
  }
  .mega-box-row > header {
    margin-left: 3rem;
    padding-top: 1.5rem;
    padding-left: 0;
    width: 80%;
    border-top: 1px solid rgb(189, 187, 187);
  }

  .mega-box-row:not(:last-child) .mega-box-links {
    border-right: none;
  }

  .mega-box-links {
    padding-top: 1rem;
    padding-right: 0;
  }
  .mega-box-links > li {
    font-size: 2.2rem;
    line-height: 3rem;
    padding-top: 0.7rem;
    padding-left: 5rem;
    padding-bottom: 0.7rem;
    /* border-left: 1px solid rgb(189, 187, 187); */
  }
  .mega-box-links > li:hover {
    background-color: #f5dacc;
    color: black;
    border-radius: 1rem;
  }
}

@media (max-width: 500px) {
  .hamburger-icon-style {
    font-size: 4.4rem;
  }
  .nav-upper-logo {
    width: 30.9rem;
    height: auto;
  }
  .nav-btn.nav-open-btn {
    font-size: 5rem;
  }

  .nav-lower {
    max-width: 100vw;
  }

  .nav-lower-menu-links {
    padding-top: 9.2rem;
  }

  .nav-lower-menu-links li {
    font-size: 4rem;
    line-height: 6rem;
    padding: 1rem;
  }
  .mobile-menu-name-and-arrow {
    padding-left: 2rem;
  }
  .dropDown-list li {
    margin-left: 2rem;
  }

  .mega-box-row > header {
    margin-left: 5rem;
    padding-top: 1.5rem;
  }
  .mega-box-links > li {
    font-size: 4rem;
    line-height: 6rem;
    padding-left: 9rem;
  }
  .nav-btn.nav-close-btn {
    right: 3rem;
    top: 3rem;
    font-size: 6rem;
  }
}
