.footer-main {
    /* border: 1px solid red; */
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin: 9rem 13.9rem 0 13.7rem;
}
.footer-row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}
.footer-nav-links{
    margin-left: 12rem;
}
.footer-nav-links,
.footer-infos,
.footer-contactUs {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    /* margin-left: 12rem; */
}

.aloum-footer-logo {
    width: 26.8rem;
}

.company-desc {
    text-align: left;
    font: normal normal normal 1.9rem/3rem Rubik-Regular;
    color: #707070;
}

.footer-heads {
    text-align: left;
    font: normal normal 600 2.4rem/2.9rem Urbanist-Semibold;
    color: #000000;

    margin-bottom: 2.5rem;
}

.links {
    text-align: left;
    font: normal normal 500 2rem/2.4rem Urbanist-Medium;
    color: #7E7E7E;
}

.infos {
    text-align: left;
    font: normal normal 500 2rem/2.4rem Urbanist-Medium;
    letter-spacing: 0px;
    color: #7E7E7E;
    opacity: 1;
}

.email-field,
.contact-number-field {
    font: normal normal 500 2rem/2.4rem Urbanist-Medium;
    color: #7E7E7E;
}

.email,
.contact-number {
    font: normal normal normal 1.7rem/3rem Rubik-Regular;
    color: #5E5E5E;
    border-bottom: 1px solid #707070;
}

.follow-us-div{
    display:flex;
    column-gap: 1rem;
    /* margin-top: 4.4rem; */
    align-items: center;
}
.follow-us-text {
    font: normal normal 500 2rem/2.4rem Urbanist-Medium;
    color: #000000;
}
.icons{
    width: 1.6rem;
    height: 1.6rem;
}
/**********************************/
.footer-row-2{
    display: flex;
    border-top: 1px solid black ;
}
.copyright{
    font: normal normal 600 1.7rem/2 Urbanist-Semibold;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.copyright, .payment-gateways{
    margin-top: 2rem;
}
.payment-gateways{
    margin-left: auto;
}



/* Media Queries */
@media(max-width: 800px) {
    .footer-row-1 {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        row-gap: 5rem;
    }
    .footer-nav-links{
        margin-left: 0;
    }
}