.box {
    position: relative;
   
}

.close-sigIn-modal {
    position: absolute;
    bottom: 94.5%;
    left: 95%;
    cursor: pointer;
}

.SignInModal-main {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
}

.SignInModal-title {
    font: normal normal 500 1.4rem Poppins-Medium;
    color: #202020;
}

.SignInModal-heading {
    font: normal normal 500 4.1rem Poppins-Medium;
    color: #202020;
    margin: 0.9rem 0 3.1rem 0;
}
.SignInModal-main-secured-input{
    display: flex;
    align-items: center;
    position:relative;
}
.SignInModal-main input {
    width: 41.7rem;
    height: 5.5rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border: 1px solid #DCDBDD;
    border-radius: 1.2rem;
    padding-left: 2rem;
    margin-left: 0.85rem;
}
.SignInModal-main-visibility-on{
    position: absolute;
    right: 10%;
    font-size: 2rem;
    color: #84818A;
}
.SignInModal-main input::placeholder {
    font: normal normal normal 1.4rem Poppins-Regular;
    width: 100%;
}

.SignInModal-otp-btn {
    width: 100%;
    height: 4.8rem;
    background: #1C1C1C 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 1.2rem;

    font: normal normal 500 1.4rem Poppins-Medium;
    color: #FFFFFF;

    margin: 2.7rem 0 1.9rem 0.85rem;
}

.SignInModal-divider {
    display: flex;
}

.SigInModal-left-div,
.SigInModal-right-div {
    width: 44%;
    margin-top: 1rem;
    border-top: 1.4px solid #DCDBDD;
    margin-left: 0.5rem;
}

.SignInModal-or {
    font: normal normal Normal 1.4rem Poppins-Regular;
    margin-inline: 1rem;
}

.SignInModal-other-Options {
    display: flex;
    column-gap: 1.57rem;
    margin-top: 2.97rem;
    justify-content: center;
    align-items: center;
}

.google-logo-conatiner,
.facebook-logo-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    width: 15.2rem;
    height: 5.2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDBDD;
    border-radius: 1.2rem;
}

.signin-vai-google,
.signin-vai-facebook {
    font: normal normal 500 1.4rem Poppins-Medium;
    color: #202020;
}

.SignInModal-other-Options img {
    width: 1.7rem;
    height: 1.7rem;
}
@media(max-width:1701px){
    .SignInModal-main-visibility-on{
        right: 20%;
    }
}
@media(max-width:1300px){
    .SignInModal-main-visibility-on{
        right: 10%;
    }
    
    .SignInModal-main input,
    .SignInModal-otp-btn {
        width: 95%;
    }
    .close-sigIn-modal {
        position: absolute;
        bottom: 94%;
        left: 94%;
    }
}
/* @media(max-width:1920px){
    .close-sigIn-modal {
        position: absolute;
        bottom: 93.5%;
        left: 92%;
    }
} */

@media(max-width:1920px) {
    .SignInModal-main input,
    .SignInModal-otp-btn {
        width: 95%;
    }
    .close-sigIn-modal {
        position: absolute;
        bottom: 94%;
        left: 93.5%;
    }
    
}
@media(max-width:600px){
    .SignInModal-other-Options {
        display: flex;
        flex-direction: row;
        row-gap: 4rem;
        justify-content: center;
        align-items: center;
    }
    .SignInModal-main input,
    .SignInModal-otp-btn {
        width: 100%;
    }
    .SignInModal-main input{
        padding-left: 1rem;
    }
    .close-sigIn-modal {
        position: absolute;
        bottom: 92%;
        left: 88%;
    }
    .SignInModal-title {
        font: normal normal 500 1.8rem Poppins-Medium;
    }
    
    .SignInModal-heading {
        font: normal normal 500 4.5rem Poppins-Medium;
    }
    .SignInModal-main input::placeholder {
        width: 75%;
        font: normal normal normal 1.7rem Poppins-Regular;
    }
    
    .SignInModal-otp-btn {
        font: normal normal 500 1.8rem Poppins-Medium;
    }
    .signin-vai-google,
.signin-vai-facebook {
    font: normal normal 500 1.8rem Poppins-Medium;
}

}
@media(max-width:430px){
    .SignInModal-other-Options{
        flex-direction: row;
    }
    .close-sigIn-modal {
        position: absolute;
        bottom: 92.2%;
        left: 91%;
        cursor: pointer;
    }
    .SignInModal-title {
        font: normal normal 500 2.4rem Poppins-Medium;
    }
    
    .SignInModal-heading {
        font: normal normal 500 5.8rem Poppins-Medium;
    }
    .SignInModal-main input {
        width: 44rem;
        height: 6rem;
        margin-top: 3rem;
    }
    .SignInModal-main-visibility-on{
        font-size: 3rem;
        bottom: 15%;
        cursor: pointer;
    }
    .SignInModal-otp-btn{
        height: 6rem;
        margin-top: 5rem;
        font: normal normal 500 2.6rem Poppins-Medium;
    }
    .SignInModal-main input::placeholder {
        width: 75%;
        font: normal normal normal 2rem Poppins-Regular;
    }
    .SignInModal-or {
        font: normal normal Normal 1.6rem Poppins-Regular;
        margin-inline: 1rem;
    }
    .google-logo-conatiner,
.facebook-logo-conatiner {
    column-gap: 3rem;
    width: 22rem;
    height: 5.5rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDBDD;
    border-radius: 1.2rem;
}
.signin-vai-google,
.signin-vai-facebook {
    font: normal normal 500 2.2rem Poppins-Medium;
    color: #202020;
}
.SignInModal-other-Options img {
    width: 2.2rem;
    height: 2.2rem;
}
.SignInModal-divider {
    margin-top: 2.5rem;
}
}
@media(max-width:400px){
    .SignInModal-otp-btn {
        width: 95%;
    }
    .google-logo-conatiner,
    .facebook-logo-conatiner { 
        width: 18.5rem; 
    }
    .SignInModal-main input,
    .SignInModal-otp-btn {
       
        margin-right: 1rem;
    }
}