

.delivery-details button,
.order-details button{
    cursor: pointer;
}

.not-visited{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color:#CECECE;

    font: normal normal 500 1.6rem Poppins-Medium;
    color: #FFFFFF;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
}
.ShippingAddress-content {
    display: flex;
    margin-inline: 30rem;
    margin-block: 5rem;
    column-gap: 4rem;
    margin-bottom: 14.1rem;
}

.delivery-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 2px solid #E7E7E7;
    padding-right: 4rem;
}

.user-details {
    display: flex;
    column-gap: 3.3rem;
}

.country-city-zip-div {
    display: flex;
    column-gap: 2.9rem;
}

.deliver-address-heading {
    font: normal normal 500 1.8rem/1.8rem Poppins-Medium;
    color: #000000;
    margin-bottom: 3.9rem;
}

.delivery-details label {
    font: normal normal 500 1.6rem/1.9rem Rubik-Medium;
    color: #000000;
}

.address-title {
    font: normal normal 500 1.6rem/1.9rem Rubik-Medium;
    color: #000000;
    margin-bottom: 3.15rem;
}

.user-details input {
    width: 38.9rem;
    height: 5.8rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: .8rem;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.email-address input {
    width: 80.8rem;
    height: 5.8rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border: .1rem solid #EAEAEA;
    border-radius: 0.8rem;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}

.country-city-zip-div input {
    width: 25.0rem;
    height: 5.8rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 0.8rem;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.delivery-details input::placeholder {
    font: normal normal normal 1.6rem/1.9rem Rubik-Regular;
    color: #ADA7A7;

}

.address-div input {
    width: 81.1rem;
    height: 16.6rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 0.8rem;
    padding-left: 1rem;
    margin-top: 3.1rem;
}

.address-div input::placeholder {
    padding: 2rem;
    width: 100%;
    font: normal normal normal 1.6rem/1.9rem Rubik-Regular;
    color: #ADA7A7;
}

/*******************************************************************************/
.order-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.order-details-title {
    font: normal normal 500 1.8rem/1.8rem Poppins-Medium;
    color: #000000;
    margin-bottom: 4.4rem;
}

.order-summary {
    display: flex;
    flex-direction: column;
    row-gap: 2.9rem;
    margin-bottom: 3.6rem;
}

.order-summary-card-products {
    display: flex;
    column-gap: 2.9rem;
}

.order-summary-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.7rem;
    height: 9.7rem;
    background: #E6E2E2 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 0.8rem;
}

.order-summary-product-image img {
    width: 3.1rem;
}

.order-summary-product-name-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.order-summary-product-name {
    font: normal normal normal 1.6rem/2.5rem Poppins-Regular;
    color: #000000;
}

.order-summary-product-price {
    font: normal normal 500 1.6rem/2.5rem Poppins-Medium;
    color: #000000;
}

.promo-code-div {
    display: flex;
    flex-direction: column;
    row-gap: 2.6rem;
}

.promo-code {
    font: normal normal 500 1.6rem/2.5rem Poppins-Medium;
    color: #000000;
}

.total-promo-price {
    display: flex;
    justify-content: space-between;
}

.total-text {
    font: normal normal normal 1.6rem/2.5rem Poppins-Regular;
    color: #000000;
}

.promo-price {
    font: normal normal 500 1.6rem/2.5rem Poppins-Medium;
    color: #000000;
}

.promo-code input {
    width: 39.3rem;
    height: 5.7rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 0.8rem;
    padding-left: 1rem;
    margin-top: 2.6rem;
}

.promo-code input::placeholder {
    font: normal normal normal 1.6rem/2.5rem Poppins-Regular;
    color: #ADA7A7;

}

.order-details button {
    width: 39.1rem;
    height: 6.7rem;
    background: #333333 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 0.6rem;

    font: normal normal 500 1.6rem/2.5rem Poppins-Medium;
    color: #FFFFFF;
    margin-top: 4rem;
}

/*************Media Queries***************************/
@media(max-width:1600px) {
    .ShippingAddress-content {
        margin-inline: 15rem;
    }

    .user-details input {
        width: 35rem;
        height: 5.6rem;
    }

    .email-address input {
        width: 73.3rem;
        height: 5.6rem;
    }

    .country-city-zip-div input {
        width: 22.4rem;
        height: 5.6rem;
    }

    .address-div input {
        width: 73.2rem;
        height: 14rem;
    }

    .promo-code input {
        width: 34rem;
        height: 5.6rem;
    }

    .order-details button {
        width: 35rem;
        height: 6.4rem;
    }
}

@media(max-width:1000px) {
    .ShippingAddress-content {
        flex-direction: column;
        margin-inline: 13rem;
        row-gap: 4rem;
    }

    .delivery-details {
        border-right: none;
        border-bottom: 2px solid #E7E7E7;
        padding-right: 0rem;
        padding-bottom: 4rem;
        margin-left: 5rem;
    }

    .order-details {
        margin-left: 5rem;
    }

    .order-details-container {
        display: flex;
        column-gap: 17rem;
        align-items: center;
    }

    .user-details input {
        width: 30rem;
        height: 5.6rem;
    }

    .email-address input {
        width: 63.5rem;
        height: 5.6rem;
    }

    .country-city-zip-div input {
        width: 19.2rem;
        height: 5.6rem;
    }

    .address-div input {
        width: 63.5rem;
        height: 10rem;
    }

    .promo-code input {
        width: 34rem;
        height: 5.6rem;
    }

    .order-details button {
        width: 35rem;
        height: 6.4rem;
    }
}

@media(max-width:600px) {
   
    .ShippingAddress-content {
        margin-inline: auto;
    }
    .delivery-details{
        width: 90%;
    }
    .order-details-container {
        display: flex;
        flex-direction: column;
    }

    .deliver-address-heading {
        font: normal normal 500 2.8rem/1.8rem Poppins-Medium;
    }

    .delivery-details label {
        font: normal normal 500 2.3rem/1.9rem Rubik-Medium;
    }

    .address-title {
        font: normal normal 500 2.4rem/1.9rem Rubik-Medium;
    }

    .delivery-details input::placeholder {
        font: normal normal normal 2rem/1.9rem Rubik-Regular;
    }

    .address-div input::placeholder {
        font: normal normal normal 2rem/1.9rem Rubik-Regular;
    }

    .order-summary {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2.2rem;
        column-gap: 3rem;
    }
    .order-details-container{
        align-items: flex-start;
    }
    .order-details-title {
        font: normal normal 500 2.8rem/1.8rem Poppins-Medium;
    }

    .order-summary-product-name {
        font: normal normal normal 2.3rem/2.5rem Poppins-Regular;
    }

    .order-summary-product-price {
        font: normal normal 500 2rem/2.5rem Poppins-Medium;
    }

    .promo-code {
        margin-top: 3.5rem;
        font: normal normal 500 2.2rem/2.5rem Poppins-Medium;
    }

    .total-text {
        font: normal normal normal 2rem/2.5rem Poppins-Regular;
    }

    .promo-price {
        font: normal normal 500 2rem/2.5rem Poppins-Medium;
    }

    .promo-code input::placeholder {
        font: normal normal normal 1.8rem/2.5rem Poppins-Regular;

    }
    .order-details button {
        font: normal normal 500 2.1rem/2.5rem Poppins-Medium;
    }
}

@media(max-width:500px){
    .ShippingAddress-status{
        margin-top: 7rem;
        margin-bottom: 10rem;
    }
    .numbers, .last-num, .not-visited{
        display: none;
    }
    .active{
        margin-top: 1rem;
        padding-bottom: 1rem;
        
        border-bottom: 2px solid #707070;;
    }
}