/* Styling the default Slick dots */
.hero-slider-wrapper .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.hero-slider-wrapper .slick-dots li {
  margin: -4rem 0.25rem;
}

.hero-slider-wrapper .slick-dots li.slick-active button {
  background-color: #9a9a9a;
  opacity: 1;
}

.hero-slider-wrapper .slick-dots button {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #9a9a9a;
  opacity: 0.31;
  text-indent: -9999px;
  transform: translateY(-4rem);
}
