.herosection-wrapper {
  width: 100%;
  height: 63rem;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 8rem;
  background: #fdf9f8 0% 0% no-repeat padding-box;
  position: relative;
}

.herosection-wrapper::before {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(/src/assets/images/homepage/Group15.png);
  object-fit: contain;
  background-repeat: no-repeat;
}

.herosection-textContent {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  padding-left: 24.5rem;
}

.hero-heading {
  font: normal normal 700 8.7rem/9rem Urbanist-Bold;
  color: #2d2d2d;
}

.hero-desc {
  font: normal normal normal 1.9rem/3.4rem Rubik-Regular;
  color: #707070;
  width: 48rem;
}

.hero-button {
  width: 17.1rem;
  height: 6.2rem;
  background: #2d2d2d 0% 0% no-repeat padding-box;
  border-radius: 0.6rem;
  border: none;
  outline: none;

  font: normal normal 500 2rem/8.4rem Rubik-Medium;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding-left: 1rem;
  cursor: pointer;
  z-index: 1;
}
.hero-dash-and-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-dash {
  width: 1.9rem;
  height: 0.2rem;
  background-color: #ffffff;
  transform: translateX(1rem);
}

.herosection-imageContent {
  width: 55%;
  height: 100%;
}

.hero-image-style {
  width: 100rem;
  height: 50rem;
  object-fit: contain;
  background-repeat: no-repeat;
}

/************************************************/

@media (max-width: 1150px) {
  .herosection-textContent {
    padding-left: 9%;
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 850px) {
  .hero-image-style {
    transform: translateX(-15rem);
  }
}

@media (max-width: 450px) {
  .herosection-wrapper {
    flex-direction: column;
    padding-top: 4rem;
  }

  .herosection-textContent {
    padding-left: 9%;
    width: 70%;
    z-index: 1;
    justify-content: flex-start;
  }

  .herosection-wrapper::before {
    opacity: 0.7;
    top: -2%;
    display: none;
  }

  .hero-heading {
    font: normal normal 700 6.5rem/7rem Urbanist-Bold;
    color: #2d2d2d;
  }

  .hero-desc {
    width: 26rem;
    font-size: 2.5rem;
    line-height: 4.4rem;
  }

  .hero-image-style {
    transform: translate(8rem, -45rem) scale(0.9);
  }
}
